<header>
    <p-sidebar [(visible)]="menu" [baseZIndex]="10000">
        <p-accordion>
            <p-accordionTab header="Cadastros">

              <button pButton pRipple type="button" class="p-button-text btn-menu" label="Condomínios" routerLink="/condominios" (click)="menu = false"></button>

              <button pButton pRipple type="button" class="p-button-text btn-menu" label="Bloco"></button>

              <button pButton pRipple type="button" class="p-button-text btn-menu" label="Apartamentos"></button>

            </p-accordionTab>

            <p-accordionTab header="Movimentações">
               
            </p-accordionTab>
        </p-accordion>
    </p-sidebar>
    
    <p-button type="button" class="p-mr-2" (click)="menu = true" icon="pi pi-arrow-right"></p-button>


    
</header>