<header>
    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
        <p-accordion>
            <p-accordionTab header="Cadastros">

              <button pButton pRipple type="button" class="p-button-text btn-menu">Condomínios</button>

              <button pButton pRipple type="button" class="p-button-text btn-menu">Blocos</button>

              <button pButton pRipple type="button" class="p-button-text btn-menu">Apartamentos</button>

            </p-accordionTab>

            <p-accordionTab header="Movimentações">
               
            </p-accordionTab>
        </p-accordion>
    </p-sidebar>
    
    <p-button type="button" class="p-mr-2" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></p-button>


    
</header>